
@import "contenedores";


@import "variables"; 


@mixin borderColor ($tipo, $ancho, $color){
  
  border-width: $ancho;
  border-style: $tipo;
  border-color: $color;
}

@if $rellenoArcoiris == "si" {
  /*Bucle for*/

  @for $i from 1 through 3{
    .color#{$i} {
      background-color:map-get($mapaColores, $i) ;
      }
    }
  }

@else if $rellenoArcoiris == "no" 
{
    @each $numero, 
    $color in #mapaColores 
    {
        .color#{$numero}
        {

          @include borderColor(double, 10px, $color);
        }

      
    }
}

@else {
  

}



